{% extends 'base.html.twig' %}
{% form_theme exchangeForm 'registration/form_errors.html.twig' %}
{% block title %}Recover{% endblock %}

{% block body %}
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('homepage') }}"><b>XML</b>red</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Введіть будь ласка новий пароль</p>
                {{ form_start(exchangeForm) }}
                {#                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}#}
                <div class="input-group mb-3">
                    {{ form_errors(exchangeForm.plainPassword) }}
                    {{ form_widget(exchangeForm.plainPassword) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-block">Змінити</button>
                </div>
                {{ form_end(exchangeForm) }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}

