{{ form_start(fileForm) }}
<div class="card-body">
    <div class="form-group">
        <div class="input-group">
            <div class="custom-file">
                {{ form_widget(fileForm.xmlFile) }}
                {{ form_label(fileForm.xmlFile) }}
            </div>
            {{ form_errors(fileForm.xmlFile) }}
        </div>
    </div>
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
{{ form_end(fileForm) }}
