<!DOCTYPE html>
<html lang="uk">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158638225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-158638225-1');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/logo_xmlRed.png') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% block body %}
    <body class="hold-transition sidebar-mini layout-top-nav layout-navbar-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav ml-4">
                <li><a href="{{ path('homepage') }}" class="text-dark">Xml<span class="text-danger">Red</span></a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none general-info">
                    <a class="nav-link" id="general-address">
                        <i class="fas fa-map-marked-alt"></i>
                    </a>
                </li>
                <li class="nav-item d-none general-info">
                    <a class="nav-link" id="general-area">
                        <i class="fas fa-vector-square"></i>
                    </a>
                </li>
                <li class="nav-item d-none general-info">
                    <a class="nav-link" id="general-population">
                        <i class="fas fa-users"></i>
                    </a>
                </li>
                <li class="nav-item d-none general-info">
                    <a class="nav-link" id="general-base-price">
                        <i class="far fa-money-bill-alt"></i>
                    </a>
                </li>
                <li class="nav-item d-none general-info">
                    <a class="nav-link" id="general-year">
                        <i class="far fa-calendar-alt"></i>
                    </a>
                </li>
                {% block sidebarUserPanel %}
                    {% if  app.user %}
                        {% if app.user.avatar.path is defined and app.user.avatar.path is not empty %}
                            {% set imagePath = 'build/users_images/' ~ app.user.client.id ~ '/' ~ app.user.avatar.path %}
                        {% else %}
                            {% set imagePath = 'build/images/user2-160x160.jpg' %}
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false" class="nav-link dropdown-toggle">
                                {{ app.user.username }}
                            </a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li>
                                    <a href="{{ path('account') }}" class="dropdown-item">
                                        <i class="far fa-id-badge mr-2"></i>
                                        Кабінет
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt mr-2"></i>
                                        Вийти
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('app_login') }}" class="nav-link"><i class="fas fa-sign-in-alt nav-icon"
                                                                                  aria-hidden="true"></i>
                                Увійти
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_register') }}" class="nav-link">
                                Реєстрація
                            </a>
                        </li>
                    {% endif %}
                {% endblock sidebarUserPanel %}
            </ul>
        </nav>
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </section>
        </div>
        <footer class="main-footer pt-2 pb-2 pl-3 pr-3 ">
            <div class="float-right d-none d-sm-block">
                <small><b>Version</b> 1.1.4</small>
            </div>
            <h6>
                <small>Copyright &copy; 2020 XmlRed All rights reserved.</small>
                <small class="ml-3">Побажання, запитання, пропозиції:
                    <a href="mailto:xmlred.xyz@gmail.com" class="text-nowrap text-gray">
                        <i class="far fa-envelope align-middle"></i>
                        xmlred.xyz@gmail.com
                    </a>
                </small>
                <small class="ml-3">
                    <a href="tg://t.me/xmlred" class="text-nowrap text-gray">
                        <i class="fab fa-telegram"></i>
                        Support
                    </a>
                </small>
            </h6>
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    {% block javascripts %}
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
{% endblock %}
</html>
